.PokemonContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;

    .PokemonItem {
        width: 200px;
        height: 200px;
        justify-self: center;
        align-self: center;
        background-color: red;
    }
}

