.boxPokemon {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* Safari/Chrome, other WebKit */
    -webkit-box-sizing: border-box;
    /* Firefox, other Gecko */
    -moz-box-sizing: border-box;
    /* Opera/IE 8+ */
    box-sizing: border-box;
}